body{
    background-color: #f5f5f5;
}

.contents{
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Inter", sans-serif;
    height: 100vh;
  }
  @media (max-width: 60em) {
   .contents{
      padding: 1.8rem;
    }
  }
  
  input {
      background-color: #DDDDDD;
      border: none;
      padding: 12px 15px;
      margin: 8px 0;
      width: 100%;
      border-radius: 6px;
  }
  
  button {
      border-radius: 20px;
      border: 1px solid #FF4B2B;
      background-color: #FF3838;
      color: #FFFFFF;
      font-size: 12px;
      font-weight: bold;
      padding: 12px 45px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transform 80ms ease-in;
      border-radius: 4px;
    cursor: pointer;
  }
  
  button:active {
      transform: scale(0.95);
  }
  
  button:hover {
      background-color: #DD2D4A;
  }
  
  form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      max-width: 250px;
  }
  form img{
    width: 100%;
    max-width: 8.5rem;
  }
  
  h3{
    font-size: 0.8rem;
  }

.alert {
  color: #842029;
  background-color: #f8d7da;
  border: 1px solid #f5c2c7;
  border-radius: 0.375rem;
  padding: .5rem .5rem;
  }
  